@tailwind base;
@tailwind components;
@tailwind utilities;

header {
    background-image: url('assets/BG.jpg');
    background-position: center;
    height: 100vh;
}

a:hover {
    transition: 0.3s ease;
}

.cards {
    background-color: #0B2020;
}

.card {
    background-color: rgba(255,255,255,0.06);
    padding: 3rem !important;
}

footer {
    background: #050A0A;
}